@font-face {
    font-family: 'font1';
    src: url('../Fontes/BasementGrotesque-Black_v1.202/BasementGrotesque-Black.otf') format('truetype');
}
@font-face {
    font-family: 'font2';
    src: url('../Fontes/ClashGrotesk_Complete/ClashGrotesk_Complete/Fonts/TTF/ClashGrotesk-Variable.ttf') format('truetype');
}
::-webkit-scrollbar {
    width: 0;
}

body {
    background: #23313A;
    margin: 0;
    padding: 0;
}

#nbs {
    height: 20vh;
}
header {
    -webkit-backdrop-filter: blur(.25rem);
    backdrop-filter: blur(.25rem);
    background-color: rgba(35, 49, 58, 0.6);
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem .1rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    height: 15vh;
    left: 10%;
    outline: solid rgba(165, 204, 219, 0.15) .15rem;
    position: fixed;
    top: 2.5%;
    width: 80%;
}
#logo {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
#logoimg {
    box-sizing: border-box;
    margin: 0;
    width: 11vw;
}

#linksdiv {
    align-items: center;
    border-left: .1rem solid;
    border-image: linear-gradient(180deg, #23313A 10%, rgba(165, 204, 219, 0.342), #23313A 90%) 1;
    box-sizing: border-box;
    display: flex;
    flex-grow: 3;
    justify-content: space-evenly;
}
#links {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
}
#links li {
    border-bottom: solid white 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 38%;
    transition: .5s;
}
#links li:hover {
    box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, 0.4) inset;
    border-radius: .5rem;

}
.linksa {
    box-sizing: border-box;
    color: #c6a964;
    display: block;
    font-family: 'font2';
    font-size: 2.25rem;
    font-weight: lighter;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.linkmain,
.linkspan {
    display: block;
    transition: .5s;
}
.linksa:hover span {
    color: #A5CCDB;
    transform: translateY(-100%);
}
.linksa::before {
    content: attr(data-link-alt);
    position: absolute;
    opacity: 1;
    top: 0;
    transition: .5s;
}
.linksa:hover::before {
    opacity: 1;
    top: -100%;
}


#progressbar {
    background: linear-gradient(to top, #A5CCDB, #23313A 75%);
    border-radius: 0 0 10px 10px;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 15px;
}
#zero {
    align-items: center;
    display: flex;
    justify-content: center;
}

#zero h1 {
    color: #A5CCDB;
    font-family: "font1";
    font-size: 6rem;
    margin: 1rem;
    text-shadow: -.5rem .75rem 1rem rgba(0, 0, 0, 0.5);
}

#firsthr {
    border: solid rgba(255, 255, 255, 0.15) .1rem;
    width: 30%;
}

#one,
#two {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    position: relative;
    width: 100%;
}
#one span,
#two span {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    height: 150px;
    justify-content: center;
    position: relative;
    width: 150px;
}
#one span::before,
#two span::before {
    border-bottom: .1rem slid white;
    border-radius: 1rem;
    box-shadow: 0 0rem .25rem .3rem rgba(0, 0, 0, 0.3);
    color: white;
    font-family: fontAwesome;
    font-size: 8em;
    height: 0;
    left: 0;
    line-height: 150px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: .75s;
    width: 100%;
}
#linkedin:before {
    content: '\f08c';
}
#github:before {
    content: '\f09b';
}
#email:before {
    content: '\f0e0';
}

#phone:before {
    content: '\f098';
}
#instagram:before {
    content: '\f16d';
}
#facebook:before {
    content: '\f082';
}

#one span:hover::before,
#two span:hover::before {
    height: 100%;
    opacity: 1;
}
#one span b,
#two span b {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 8em;
    font-weight: 700;
    transition: .5s;
}


footer {
    background-color: #6C4A1B;
}

#licenses {
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: center;
}
#licenses h3 {
    color: white;
    font-family: 'font2';
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: uppercase;
}