::-webkit-scrollbar {
    display: none;
}

body {
    background: #23313A;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    height: 18vh;
}
#logo {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
#logoimg {
    box-sizing: border-box;
    margin: 0;
    width: 15vw;
}

#linksdiv {
    align-items: center;
    border-left: .1rem solid;
    border-image: linear-gradient(180deg, #23313A 10%, #a5ccdb80, #23313A 90%) 1;
    box-sizing: border-box;
    display: flex;
    flex-grow: 4;
    justify-content: space-evenly;
}
#links {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
}
#links li {
    border-bottom: solid white 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 35%;
    transition: .5s;
}
#links li:hover {
    box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, 0.4) inset;
    border-radius: .5rem;

}
.linksa {
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 2rem;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    text-decoration: none;
}
span {
    
    display: block;
    transition: .5s;
}
.linksa:hover span {
    color: #A5CCDB;
    transform: translateY(-100%);
}
.linksa::before {
    content: attr(data-link-alt);
    position: absolute;
    opacity: 1;
    top: 0;
    transition: .5s;
}
.linksa:hover::before {
    opacity: 1;
    top: -100%;
}

#one {
    height: 100vh;
    width: 100%;
}

footer {
    background-color: #A5CCDB;
}

#licenses {
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: center;
}